.chat-box {
  background: #000;
  overflow-y: scroll;
  height: 500px;
  padding: 1rem;
}

li {
  color: white;
  display: flex;
  justify-content: left;
}

.its_me {
  color: red;
  display: flex;
  justify-content: right;
}
